footer {
    display: flex;
    justify-content: space-between;
    padding-bottom: 24px;

    & div {
        display: flex;
        gap: 15px;
    }
}

@media (max-width: 1024px){
    footer {
        display: flex;
        text-align: center;
        flex-direction: column;
        padding-bottom: 24px;
        gap: 8px;
    
        & div {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }
    }
}
